---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
		<h1> </h1>
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100vw;
		height: 100vh;
		background: linear-gradient(90deg, #c9fadc, #9ac1fc);
		padding-bottom: 30px;
	}
</style>
